@import 'src/animations.scss';

.main {
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-iteration-count: 1;
}

header {
    background-color: rgb(53,53,53);
}

router-outlet {
    background: #ededed;
}

footer {
    background-color: rgb(53,53,53);
    color: white;
}